@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2? family= Bebas+Neue & family= Passion+One & family= Sriracha & display=swap');

@import url('https://fonts.googleapis.com/css2? family= Bebas+Neue & family= Passion+One & family= Sriracha & family= Srisakdi & display=swap');

    *{
        margin: 0px;
        padding: 0px;
    }

    :root{
        --fonte1:verdana , geneva , tahoma , sans-serif ;
        --fonte2:'Passion One', cursiva;
        --fonte3:'Times New Roman', Times, serif
    }

    html body{ 
        min-height: 100vh;
        background-color: rgb(79, 47, 52);
        font-family: var(--fonte1);
        
    }
    header{
        color: white;
        background-color: black;
        text-align: center;
    }
    header > h1 {
        font-variant: small-caps;
        padding: 10px;
        font-family: var(--fonte3);
        font-size: 10vw;
    }
    a {
        text-decoration: none;
        font-weight: bolder;
    }
    a :hover {
        text-decoration: underline;
    }
    section{
        padding-top: 10vh;
        padding-bottom: 10vh;
        line-height: 2em;
        padding-left: 25px;
        font-family: var(--fonte3);
        font-size: 4vw;
    }

    section.normal{
        background-color: white;
        color: black;
        
    }

   
        
    section.imagem{
        background-color: rgba(117, 117, 117, 0.137);
        color: rgb(255, 255, 255);
        background-attachment: fixed;
    }
    section.imagem > p {
        width: 400px;
        background-color: rgba(102, 102, 102, 0.548);
    }

    
    section.imagem#img01{
        background-image: url('imagens/background001.jpg');
        background-size: cover;
        background-position: right , center;
    }

    section.imagem#img02{
        background-image: url('imagens/background002.jpg');
        background-size: cover;
    }
       


    footer{
        text-align: center;
        color: white;
        background-color: black;
        padding: 10px;
    }
    
  